.navbar {
    background-color: #143E4C !important;
}

@font-face {
    font-family: 'CarnivaleeFreakshow';
    src: url(../fonts/font/Carnevalee-Freakshow.ttf);
}
@font-face {
    font-family: 'MagicalSource';
    src: url(../fonts/font/MagicalSource_Demo.ttf);
}
.navbar li a {
    font-weight: bold;
    color: #F2E399 !important;
    transition: color 0.15s ease-in-out;
}

.navbar li a:hover {
    color: #ea2927 !important;
}

.navbar .btnLogin {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 1px #fff;
    font-family: 'MagicalSource';
    letter-spacing: 2px;
    font-size: 1rem;
    background-color: #89242C;
    color: #F2E399 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-item > a{
    font-family: 'CarnivaleeFreakshow';
    font-size: 20px;
}
.navbar .btnLogin:hover {
    background-color: #143E4C;
    color: #ffc107 !important;
}

.nav-center {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item .dropdown-menu {
    background-color: #89242C;
}

@media (max-width: 991px) {
    .nav-center {
        text-align: center !important;
        margin: 5px 0;
    }

    .btnLogin {
        margin-bottom: 5px;
    }
}
